.back{
    background-color: white;
}
.info-container{
   margin-left: 400px;
}
.photo-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; /* Ensure the container takes up the full width of its parent */


}

.photo-container img{
    flex: 1; 
    max-width: 22%; 
    height: auto;
    cursor: pointer;
}