

.info-container{
    
    margin-bottom: 380px;
margin-left: 420px;
color:yellow;
background-color: black;

}
.info-container1{
    margin-top: -300px;
}
.text{
    margin-left: 400px;
    color:yellow;
background-color: black;
}
.text1{
    margin-left: 340px;
    color:yellow;
background-color: black;
}
